@import "tailwindcss";

.square {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
}

.square-check { background-color: #ff6b6b; }
.square-recent { background-color: #fdfa9e; }

.square-light { background-color: #f0d9b5; }
.square-dark { background-color: #89684c; }

.coord {
  position: absolute;
  font-size: 0.7rem;
  opacity: 0.6;
}

.coord-rank {
  top: 2px;
  left: 2px;
}

.coord-file {
  bottom: 2px;
  right: 2px;
}

.move-mark {
  text-align: center;
  background-color:#787878 ;
  opacity: 0.7;
  border-radius: 100%;
  width: 6px;
  height: 6px;
}

.capture-mark {
  text-align: center;
  background-color:#505050 ;
  border-radius: 100%;
  width: 6px;
  height: 6px;
}

.board-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1;
  border: 2px solid #333;
}

